#plantes{
  display : grid;
}

#fleur {

  max-height: 500px;
}
#fleur2 {

  max-height: 700px;
}



body {
  background-color: aqua;
  background-image:url('fond-levrai.svg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
