#plantes{
  display : block;
}

#fleur {
  opacity : 0;
  max-width: 200px;
}
#fleur2 {
  opacity : 1;
  max-width: 300px;
}
#temps {
  float: right;
  margin-right: 100px;

  max-width: 200px;
  justify-content: space-around;
}

#ecrit{
  float : left;
  margin-left: 10px;

}


body {
  background-color: aqua;
  background-image:url('fond-levrai.svg');
  width: 100%;
  margin-bottom: 8%;
  background-repeat: no-repeat;
  background-size: cover;


  }
