#fleur {
  max-height: 500px;
}

body {
  background-color: aqua;
  background-image:url('fond-levrai.svg');
  height: 100%;
  background-position: cemter;
  background-repeat: no-repeat;
  background-size: cover;
  }
